In [1]:
#correlation Matrix
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

#load files for analysis
sample = pd.read_csv("AllListingsB.csv")
sample.columns

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,6,7,24,25,26,27,28,29,49,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Unnamed: 0', 'accommodates', 'availability_30', 'availability_365',
       'bathrooms', 'bed_type', 'bedrooms', 'beds',
       'calculated_host_listings_count', 'cancellation_policy', 'city',
       'cleaning_fee', 'country', 'first_review', 'extra_people',
       'host_response_time', 'host_response_rate', 'host_is_superhost',
       'host_since', 'instant_bookable', 'is_business_travel_ready',
       'scrape_id', 'last_review', 'latitude', 'longitude', 'maximum_nights',
       'minimum_nights', 'minimum_nights_avg_ntm', 'monthly_price',
       'neighbourhood', 'number_of_reviews', 'number_of_reviews_ltm', 'price',
       'property_type', 'region', 'require_guest_phone_verification',
       'require_guest_profile_picture', 'requires_license',
       'review_scores_accuracy', 'review_scores_checkin',
       'review_scores_cleanliness', 'review_scores_communication',
       'review_scores_location', 'review_scores_rating', 'review_scores_value',
       'reviews_per_month', 'room_type', 'security_deposit', 'smart_location',
       'square_feet', 'state', 'street', 'transit', 'zipcode', 'weekly_price',
       'guests_included'],
      dtype='object')

In [2]:
len(sample)

1325841

In [3]:
#import numpy as np
#sample = linear.sample(n = 300000)

In [4]:
sample.bed_type.unique()

array(['Real Bed', 'Futon', 'Pull-out Sofa', 'Airbed', 'Couch', nan,
       '292', '31', '22', '101', '34', '27', '11', '35', '44', '4', '0',
       '2', '32', '6', '86', '159', '85', '155', '64', '14', '20', '7',
       '23', '8', '5', '29', '45', '3', '1', '103', '17', '19', '259',
       '28', '77', '203', '18', '137', '136', '176', '125', '110'],
      dtype=object)

In [5]:
sample.cancellation_policy.unique()

array(['strict_14_with_grace_period', 'moderate', 'flexible',
       'super_strict_30', 'super_strict_60', nan, 'strict',
       'flexible_new', 'moderate_new', 'super_strict_30_new',
       'strict_new', 'super_strict_60_new', 'luxury_super_strict_95',
       'luxury_moderate', 'luxury_no_refund', 'luxury_super_strict_125'],
      dtype=object)

In [6]:
sample.property_type.unique()

array(['Apartment', 'Townhouse', 'Houseboat', 'Bed and breakfast',
       'Guest suite', 'Loft', 'Serviced apartment', 'House',
       'Boutique hotel', 'Guesthouse', 'Boat', 'Condominium', 'Camper/RV',
       'Chalet', 'Nature lodge', 'Tiny house', 'Other', 'Island', 'Hotel',
       'Villa', 'Cabin', 'Bungalow', 'Hostel', 'Cottage', 'Dome house',
       'Casa particular (Cuba)', 'Earth house', 'Barn', 'Aparthotel',
       'Campsite', 'Tent', nan, 't', 'Yurt', 'Farm stay', 'Castle',
       'Treehouse', 'Cave', 'Cycladic house (Greece)', 'In-law',
       'Minsu (Taiwan)', 'Resort', 'Ryokan (Japan)', 'Bus', 'Tipi', 'Hut',
       'Train', 'Vacation home', 'Heritage hotel (India)', 'Igloo',
       'Dorm', 'Pension (South Korea)', 'Lighthouse',
       "Shepherd's hut (U.K., France)", 'Condohotel', 'Timeshare',
       'Windmill', '5', '2', '4', 'Pousada', 'Parking Space', 'Plane',
       'Casa particular', 'Bed & Breakfast', 'Trullo (Italy)',
       'Dammuso (Italy)', 'Cycladic house', 'Dammuso'], dtype=object)

In [7]:
sample.review_scores_value.unique()

array([10.,  9.,  8., nan,  7.,  6.,  4.,  2.,  5.,  3.])

In [8]:
sample2 = sample[['smart_location', 'country', 'latitude', 'longitude','accommodates', 'availability_365', 'bathrooms', 'bedrooms', 'beds', 'calculated_host_listings_count',
                 'cleaning_fee','cancellation_policy','maximum_nights', 'minimum_nights', 'property_type', 'security_deposit','number_of_reviews_ltm',
                  'require_guest_phone_verification','requires_license','price','number_of_reviews','review_scores_value', 'review_scores_rating', 'guests_included','host_since', 'room_type', 'bed_type',
                 'weekly_price', 'monthly_price','extra_people', 'first_review','last_review', 'instant_bookable', 'require_guest_profile_picture','reviews_per_month',
                 'host_response_time', 'host_response_rate', 'host_is_superhost']]

In [9]:
sample2.head()

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,monthly_price,extra_people,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12,1.5,1,2,1.0,...,"$1,500.00",$20.00,2009-03-30,2019-04-17,t,f,2.07,within an hour,100%,t
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166,1.0,1,1,2.0,...,NaN,$0.00,2010-03-02,2019-04-24,f,f,2.39,within a few hours,100%,f
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116,1.0,1,1,2.0,...,"$2,000.00",$10.00,2018-01-21,2019-02-16,f,f,0.13,within an hour,100%,f
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102,1.0,1,1,1.0,...,"$2,500.00",$0.00,2012-01-09,2019-05-04,t,f,2.12,within an hour,100%,t
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236,1.0,1,2,1.0,...,NaN,$0.00,2010-05-16,2019-04-22,f,t,4.15,within a few hours,100%,f

In [10]:
sample2.dtypes

smart_location                       object
country                              object
latitude                            float64
longitude                            object
accommodates                        float64
availability_365                     object
bathrooms                           float64
bedrooms                             object
beds                                 object
calculated_host_listings_count      float64
cleaning_fee                         object
cancellation_policy                  object
maximum_nights                       object
minimum_nights                       object
property_type                        object
security_deposit                     object
number_of_reviews_ltm               float64
require_guest_phone_verification     object
requires_license                     object
price                                object
number_of_reviews                   float64
review_scores_value                 float64
review_scores_rating                float64
guests_included                     float64
host_since                           object
room_type                            object
bed_type                             object
weekly_price                         object
monthly_price                        object
extra_people                         object
first_review                         object
last_review                          object
instant_bookable                     object
require_guest_profile_picture        object
reviews_per_month                   float64
host_response_time                   object
host_response_rate                   object
host_is_superhost                    object
dtype: object

In [11]:
sample2['monthly_price'] = sample2['monthly_price'].astype(str).str.replace('$', '')
sample2['monthly_price'] = sample2['monthly_price'].astype(str).str.replace(',', '')
sample2['monthly_price'] = pd.to_numeric(sample2['monthly_price'], errors='coerce')
sample2.head()

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,monthly_price,extra_people,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12,1.5,1,2,1.0,...,1500.0,$20.00,2009-03-30,2019-04-17,t,f,2.07,within an hour,100%,t
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166,1.0,1,1,2.0,...,NaN,$0.00,2010-03-02,2019-04-24,f,f,2.39,within a few hours,100%,f
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116,1.0,1,1,2.0,...,2000.0,$10.00,2018-01-21,2019-02-16,f,f,0.13,within an hour,100%,f
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102,1.0,1,1,1.0,...,2500.0,$0.00,2012-01-09,2019-05-04,t,f,2.12,within an hour,100%,t
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236,1.0,1,2,1.0,...,NaN,$0.00,2010-05-16,2019-04-22,f,t,4.15,within a few hours,100%,f

In [12]:
sample2['weekly_price'] = sample2['weekly_price'].astype(str).str.replace('$', '')
sample2['weekly_price'] = sample2['weekly_price'].astype(str).str.replace(',', '')
sample2['weekly_price'] = pd.to_numeric(sample2['weekly_price'], errors='coerce')
sample2.head()

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,monthly_price,extra_people,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12,1.5,1,2,1.0,...,1500.0,$20.00,2009-03-30,2019-04-17,t,f,2.07,within an hour,100%,t
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166,1.0,1,1,2.0,...,NaN,$0.00,2010-03-02,2019-04-24,f,f,2.39,within a few hours,100%,f
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116,1.0,1,1,2.0,...,2000.0,$10.00,2018-01-21,2019-02-16,f,f,0.13,within an hour,100%,f
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102,1.0,1,1,1.0,...,2500.0,$0.00,2012-01-09,2019-05-04,t,f,2.12,within an hour,100%,t
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236,1.0,1,2,1.0,...,NaN,$0.00,2010-05-16,2019-04-22,f,t,4.15,within a few hours,100%,f

In [13]:
#sample2['security_deposit'] = sample2['security_deposit'].astype(str).str.replace('$', '')
#sample2['security_deposit'] = sample2['security_deposit'].astype(str).str.replace(',', '')
#sample2['security_deposit'] = pd.to_numeric(sample2['security_deposit'], errors='coerce')
#sample2.head()

In [14]:
sample2['extra_people'] = sample2['extra_people'].astype(str).str.replace('$', '')
sample2['extra_people'] = sample2['extra_people'].astype(str).str.replace(',', '')
sample2['extra_people'] = pd.to_numeric(sample2['extra_people'], errors='coerce')
sample2.head()

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,monthly_price,extra_people,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12,1.5,1,2,1.0,...,1500.0,20.0,2009-03-30,2019-04-17,t,f,2.07,within an hour,100%,t
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166,1.0,1,1,2.0,...,NaN,0.0,2010-03-02,2019-04-24,f,f,2.39,within a few hours,100%,f
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116,1.0,1,1,2.0,...,2000.0,10.0,2018-01-21,2019-02-16,f,f,0.13,within an hour,100%,f
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102,1.0,1,1,1.0,...,2500.0,0.0,2012-01-09,2019-05-04,t,f,2.12,within an hour,100%,t
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236,1.0,1,2,1.0,...,NaN,0.0,2010-05-16,2019-04-22,f,t,4.15,within a few hours,100%,f

In [15]:
sample2['price'] = sample2['price'].astype(str).str.replace('$', '')
sample2['price'] = sample2['price'].astype(str).str.replace(',', '')

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
sample2['price'] = pd.to_numeric(sample2['price'], errors='coerce')
sample2.head()

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,monthly_price,extra_people,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12,1.5,1,2,1.0,...,1500.0,20.0,2009-03-30,2019-04-17,t,f,2.07,within an hour,100%,t
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166,1.0,1,1,2.0,...,NaN,0.0,2010-03-02,2019-04-24,f,f,2.39,within a few hours,100%,f
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116,1.0,1,1,2.0,...,2000.0,10.0,2018-01-21,2019-02-16,f,f,0.13,within an hour,100%,f
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102,1.0,1,1,1.0,...,2500.0,0.0,2012-01-09,2019-05-04,t,f,2.12,within an hour,100%,t
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236,1.0,1,2,1.0,...,NaN,0.0,2010-05-16,2019-04-22,f,t,4.15,within a few hours,100%,f

In [17]:
import numpy as np
sample2['pct_change'] = sample2.price.pct_change()
sample2['log_ret'] = np.log(sample2.price) - np.log(sample2.price.shift(1))

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in log
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
sample2.head()

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost,pct_change,log_ret
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12,1.5,1,2,1.0,...,2009-03-30,2019-04-17,t,f,2.07,within an hour,100%,t,NaN,NaN
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166,1.0,1,1,2.0,...,2010-03-02,2019-04-24,f,f,2.39,within a few hours,100%,f,0.355932,0.304489
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116,1.0,1,1,2.0,...,2018-01-21,2019-02-16,f,f,0.13,within an hour,100%,f,0.562500,0.446287
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102,1.0,1,1,1.0,...,2012-01-09,2019-05-04,t,f,2.12,within an hour,100%,t,0.200000,0.182322
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236,1.0,1,2,1.0,...,2010-05-16,2019-04-22,f,t,4.15,within a few hours,100%,f,-0.566667,-0.836248

In [19]:
#sample2.to_csv("sample2.csv", index = False, header=True)

In [20]:
sample2.dtypes

smart_location                       object
country                              object
latitude                            float64
longitude                            object
accommodates                        float64
availability_365                     object
bathrooms                           float64
bedrooms                             object
beds                                 object
calculated_host_listings_count      float64
cleaning_fee                         object
cancellation_policy                  object
maximum_nights                       object
minimum_nights                       object
property_type                        object
security_deposit                     object
number_of_reviews_ltm               float64
require_guest_phone_verification     object
requires_license                     object
price                               float64
number_of_reviews                   float64
review_scores_value                 float64
review_scores_rating                float64
guests_included                     float64
host_since                           object
room_type                            object
bed_type                             object
weekly_price                        float64
monthly_price                       float64
extra_people                        float64
first_review                         object
last_review                          object
instant_bookable                     object
require_guest_profile_picture        object
reviews_per_month                   float64
host_response_time                   object
host_response_rate                   object
host_is_superhost                    object
pct_change                          float64
log_ret                             float64
dtype: object

In [21]:
sample2['availability_365'] = pd.to_numeric(sample2['availability_365'], errors='coerce')
sample2['bedrooms'] = pd.to_numeric(sample2['bedrooms'], errors='coerce')
sample2['beds'] = pd.to_numeric(sample2['beds'], errors='coerce')
sample2['maximum_nights'] = pd.to_numeric(sample2['maximum_nights'], errors='coerce')
sample2['minimum_nights'] = pd.to_numeric(sample2['minimum_nights'], errors='coerce')
sample2['longitude'] = pd.to_numeric(sample2['longitude'], errors='coerce')

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
sample2.dtypes

smart_location                       object
country                              object
latitude                            float64
longitude                           float64
accommodates                        float64
availability_365                    float64
bathrooms                           float64
bedrooms                            float64
beds                                float64
calculated_host_listings_count      float64
cleaning_fee                         object
cancellation_policy                  object
maximum_nights                      float64
minimum_nights                      float64
property_type                        object
security_deposit                     object
number_of_reviews_ltm               float64
require_guest_phone_verification     object
requires_license                     object
price                               float64
number_of_reviews                   float64
review_scores_value                 float64
review_scores_rating                float64
guests_included                     float64
host_since                           object
room_type                            object
bed_type                             object
weekly_price                        float64
monthly_price                       float64
extra_people                        float64
first_review                         object
last_review                          object
instant_bookable                     object
require_guest_profile_picture        object
reviews_per_month                   float64
host_response_time                   object
host_response_rate                   object
host_is_superhost                    object
pct_change                          float64
log_ret                             float64
dtype: object

In [23]:
sample2.head(15)

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost,pct_change,log_ret
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,...,2009-03-30,2019-04-17,t,f,2.07,within an hour,100%,t,NaN,NaN
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,...,2010-03-02,2019-04-24,f,f,2.39,within a few hours,100%,f,0.355932,0.304489
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116.0,1.0,1.0,1.0,2.0,...,2018-01-21,2019-02-16,f,f,0.13,within an hour,100%,f,0.562500,0.446287
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,...,2012-01-09,2019-05-04,t,f,2.12,within an hour,100%,t,0.200000,0.182322
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,...,2010-05-16,2019-04-22,f,t,4.15,within a few hours,100%,f,-0.566667,-0.836248
5,"Amsterdam, Netherlands",Netherlands,52.36719,4.89092,2.0,145.0,NaN,1.0,1.0,3.0,...,2010-08-22,2019-05-04,f,f,2.46,within an hour,100%,t,0.153846,0.143101
6,"Amsterdam, Netherlands",Netherlands,52.36773,4.89151,1.0,166.0,1.0,1.0,1.0,3.0,...,2011-03-16,2019-05-01,f,f,4.16,within an hour,100%,t,-0.266667,-0.310155
7,"Amsterdam, Netherlands",Netherlands,52.35132,4.84838,4.0,0.0,1.0,3.0,3.0,1.0,...,2011-08-06,2017-10-16,f,f,0.34,NaN,NaN,f,2.981818,1.381739
8,"Amsterdam, Netherlands",Netherlands,52.37565,4.87969,2.0,73.0,1.0,1.0,1.0,1.0,...,2010-07-23,2015-08-05,f,f,1.85,within an hour,100%,f,-0.337900,-0.412338
9,"Amsterdam, Netherlands",Netherlands,52.37891,4.88321,2.0,0.0,0.0,1.0,1.0,1.0,...,2010-11-25,2019-04-22,f,f,0.76,within an hour,100%,f,0.241379,0.216223
10,"Amsterdam, Netherlands",Netherlands,52.36781,4.89001,2.0,128.0,1.0,1.0,1.0,2.0,...,2010-09-06,2019-05-01,t,f,4.21,within an hour,100%,t,-0.116667,-0.124053
11,"Amsterdam, Netherlands",Netherlands,52.37537,4.88932,4.0,365.0,1.0,2.0,4.0,1.0,...,2010-09-14,2019-04-29,f,f,6.49,within a day,100%,f,0.320755,0.278203
12,"Amsterdam, Netherlands",Netherlands,52.35746,4.86124,2.0,172.0,1.0,1.0,2.0,2.0,...,2010-11-01,2018-02-18,f,t,0.59,within a few hours,100%,f,-0.523810,-0.741937
13,"Amsterdam, Netherlands",Netherlands,52.37017,4.91438,4.0,0.0,1.0,2.0,3.0,1.0,...,2010-09-16,2019-03-31,f,f,0.32,within an hour,100%,f,1.000000,0.693147
14,"Amsterdam, Netherlands",Netherlands,52.35247,4.90825,2.0,0.0,1.0,1.0,1.0,1.0,...,2010-09-16,2018-01-03,f,f,0.03,NaN,NaN,f,-0.250000,-0.287682

In [24]:
sample2.cancellation_policy.unique()

array(['strict_14_with_grace_period', 'moderate', 'flexible',
       'super_strict_30', 'super_strict_60', nan, 'strict',
       'flexible_new', 'moderate_new', 'super_strict_30_new',
       'strict_new', 'super_strict_60_new', 'luxury_super_strict_95',
       'luxury_moderate', 'luxury_no_refund', 'luxury_super_strict_125'],
      dtype=object)

In [25]:
labels = sample2['cancellation_policy'].astype('category').cat.categories.tolist()
replace_map_comp = {'cancellation_policy' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
print(replace_map_comp)
#sample2['cancellation_cat'] = pd.get_dummies(sample2['cancellation_policy'])

{'cancellation_policy': {'flexible': 1, 'flexible_new': 2, 'luxury_moderate': 3, 'luxury_no_refund': 4, 'luxury_super_strict_125': 5, 'luxury_super_strict_95': 6, 'moderate': 7, 'moderate_new': 8, 'strict': 9, 'strict_14_with_grace_period': 10, 'strict_new': 11, 'super_strict_30': 12, 'super_strict_30_new': 13, 'super_strict_60': 14, 'super_strict_60_new': 15}}

In [26]:
sample2_replace = sample2.copy()

In [27]:
sample2_replace.replace(replace_map_comp, inplace=True)
sample2_replace.head()

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost,pct_change,log_ret
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,...,2009-03-30,2019-04-17,t,f,2.07,within an hour,100%,t,NaN,NaN
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,...,2010-03-02,2019-04-24,f,f,2.39,within a few hours,100%,f,0.355932,0.304489
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116.0,1.0,1.0,1.0,2.0,...,2018-01-21,2019-02-16,f,f,0.13,within an hour,100%,f,0.562500,0.446287
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,...,2012-01-09,2019-05-04,t,f,2.12,within an hour,100%,t,0.200000,0.182322
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,...,2010-05-16,2019-04-22,f,t,4.15,within a few hours,100%,f,-0.566667,-0.836248

In [28]:
sample2.property_type.unique()

array(['Apartment', 'Townhouse', 'Houseboat', 'Bed and breakfast',
       'Guest suite', 'Loft', 'Serviced apartment', 'House',
       'Boutique hotel', 'Guesthouse', 'Boat', 'Condominium', 'Camper/RV',
       'Chalet', 'Nature lodge', 'Tiny house', 'Other', 'Island', 'Hotel',
       'Villa', 'Cabin', 'Bungalow', 'Hostel', 'Cottage', 'Dome house',
       'Casa particular (Cuba)', 'Earth house', 'Barn', 'Aparthotel',
       'Campsite', 'Tent', nan, 't', 'Yurt', 'Farm stay', 'Castle',
       'Treehouse', 'Cave', 'Cycladic house (Greece)', 'In-law',
       'Minsu (Taiwan)', 'Resort', 'Ryokan (Japan)', 'Bus', 'Tipi', 'Hut',
       'Train', 'Vacation home', 'Heritage hotel (India)', 'Igloo',
       'Dorm', 'Pension (South Korea)', 'Lighthouse',
       "Shepherd's hut (U.K., France)", 'Condohotel', 'Timeshare',
       'Windmill', '5', '2', '4', 'Pousada', 'Parking Space', 'Plane',
       'Casa particular', 'Bed & Breakfast', 'Trullo (Italy)',
       'Dammuso (Italy)', 'Cycladic house', 'Dammuso'], dtype=object)

In [29]:
labels2 = sample2['property_type'].astype('category').cat.categories.tolist()
replace_map_comp2 = {'property_type' : {k: v for k,v in zip(labels2,list(range(1,len(labels2)+1)))}}
print(replace_map_comp2)

{'property_type': {'2': 1, '4': 2, '5': 3, 'Aparthotel': 4, 'Apartment': 5, 'Barn': 6, 'Bed & Breakfast': 7, 'Bed and breakfast': 8, 'Boat': 9, 'Boutique hotel': 10, 'Bungalow': 11, 'Bus': 12, 'Cabin': 13, 'Camper/RV': 14, 'Campsite': 15, 'Casa particular': 16, 'Casa particular (Cuba)': 17, 'Castle': 18, 'Cave': 19, 'Chalet': 20, 'Condohotel': 21, 'Condominium': 22, 'Cottage': 23, 'Cycladic house': 24, 'Cycladic house (Greece)': 25, 'Dammuso': 26, 'Dammuso (Italy)': 27, 'Dome house': 28, 'Dorm': 29, 'Earth house': 30, 'Farm stay': 31, 'Guest suite': 32, 'Guesthouse': 33, 'Heritage hotel (India)': 34, 'Hostel': 35, 'Hotel': 36, 'House': 37, 'Houseboat': 38, 'Hut': 39, 'Igloo': 40, 'In-law': 41, 'Island': 42, 'Lighthouse': 43, 'Loft': 44, 'Minsu (Taiwan)': 45, 'Nature lodge': 46, 'Other': 47, 'Parking Space': 48, 'Pension (South Korea)': 49, 'Plane': 50, 'Pousada': 51, 'Resort': 52, 'Ryokan (Japan)': 53, 'Serviced apartment': 54, "Shepherd's hut (U.K., France)": 55, 'Tent': 56, 'Timeshare': 57, 'Tiny house': 58, 'Tipi': 59, 'Townhouse': 60, 'Train': 61, 'Treehouse': 62, 'Trullo (Italy)': 63, 'Vacation home': 64, 'Villa': 65, 'Windmill': 66, 'Yurt': 67, 't': 68}}

In [30]:
sample2_replace.replace(replace_map_comp2, inplace=True)
sample2_replace.head()

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost,pct_change,log_ret
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,...,2009-03-30,2019-04-17,t,f,2.07,within an hour,100%,t,NaN,NaN
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,...,2010-03-02,2019-04-24,f,f,2.39,within a few hours,100%,f,0.355932,0.304489
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116.0,1.0,1.0,1.0,2.0,...,2018-01-21,2019-02-16,f,f,0.13,within an hour,100%,f,0.562500,0.446287
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,...,2012-01-09,2019-05-04,t,f,2.12,within an hour,100%,t,0.200000,0.182322
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,...,2010-05-16,2019-04-22,f,t,4.15,within a few hours,100%,f,-0.566667,-0.836248

In [31]:
sample2.bed_type.unique()

array(['Real Bed', 'Futon', 'Pull-out Sofa', 'Airbed', 'Couch', nan,
       '292', '31', '22', '101', '34', '27', '11', '35', '44', '4', '0',
       '2', '32', '6', '86', '159', '85', '155', '64', '14', '20', '7',
       '23', '8', '5', '29', '45', '3', '1', '103', '17', '19', '259',
       '28', '77', '203', '18', '137', '136', '176', '125', '110'],
      dtype=object)

In [32]:
labels4 = sample2['bed_type'].astype('category').cat.categories.tolist()
replace_map_comp4 = {'bed_type' : {k: v for k,v in zip(labels4,list(range(1,len(labels2)+1)))}}
print(replace_map_comp4)

{'bed_type': {'0': 1, '1': 2, '101': 3, '103': 4, '11': 5, '110': 6, '125': 7, '136': 8, '137': 9, '14': 10, '155': 11, '159': 12, '17': 13, '176': 14, '18': 15, '19': 16, '2': 17, '20': 18, '203': 19, '22': 20, '23': 21, '259': 22, '27': 23, '28': 24, '29': 25, '292': 26, '3': 27, '31': 28, '32': 29, '34': 30, '35': 31, '4': 32, '44': 33, '45': 34, '5': 35, '6': 36, '64': 37, '7': 38, '77': 39, '8': 40, '85': 41, '86': 42, 'Airbed': 43, 'Couch': 44, 'Futon': 45, 'Pull-out Sofa': 46, 'Real Bed': 47}}

In [33]:
sample2_replace.replace(replace_map_comp4, inplace=True)
sample2_replace.head()

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost,pct_change,log_ret
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,...,2009-03-30,2019-04-17,t,f,2.07,within an hour,100%,t,NaN,NaN
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,...,2010-03-02,2019-04-24,f,f,2.39,within a few hours,100%,f,0.355932,0.304489
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116.0,1.0,1.0,1.0,2.0,...,2018-01-21,2019-02-16,f,f,0.13,within an hour,100%,f,0.562500,0.446287
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,...,2012-01-09,2019-05-04,t,f,2.12,within an hour,100%,t,0.200000,0.182322
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,...,2010-05-16,2019-04-22,f,t,4.15,within a few hours,100%,f,-0.566667,-0.836248

In [34]:
sample2.room_type.unique()

array(['Private room', 'Entire home/apt', 'Shared room', nan, '13', '2',
       '9', '25', '8', '0', '27', '7', '4', '5', '6', '3', '14', '20',
       '11', '21', '12', '30', '16', '1', '19', '17', '15'], dtype=object)

In [35]:
labels3 = sample2['room_type'].astype('category').cat.categories.tolist()
replace_map_comp3 = {'room_type' : {k: v for k,v in zip(labels3,list(range(1,len(labels2)+1)))}}
print(replace_map_comp3)

{'room_type': {'0': 1, '1': 2, '11': 3, '12': 4, '13': 5, '14': 6, '15': 7, '16': 8, '17': 9, '19': 10, '2': 11, '20': 12, '21': 13, '25': 14, '27': 15, '3': 16, '30': 17, '4': 18, '5': 19, '6': 20, '7': 21, '8': 22, '9': 23, 'Entire home/apt': 24, 'Private room': 25, 'Shared room': 26}}

In [36]:
sample2_replace.replace(replace_map_comp3, inplace=True)
sample2_replace.head()

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost,pct_change,log_ret
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,...,2009-03-30,2019-04-17,t,f,2.07,within an hour,100%,t,NaN,NaN
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,...,2010-03-02,2019-04-24,f,f,2.39,within a few hours,100%,f,0.355932,0.304489
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116.0,1.0,1.0,1.0,2.0,...,2018-01-21,2019-02-16,f,f,0.13,within an hour,100%,f,0.562500,0.446287
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,...,2012-01-09,2019-05-04,t,f,2.12,within an hour,100%,t,0.200000,0.182322
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,...,2010-05-16,2019-04-22,f,t,4.15,within a few hours,100%,f,-0.566667,-0.836248

In [37]:
sample2_replace['room_type'] = pd.to_numeric(sample2_replace['room_type'], errors='coerce')

In [38]:
sample2.host_response_time.unique()

array(['within an hour', 'within a few hours', nan, 'within a day',
       'a few days or more', 'f', 't', '6'], dtype=object)

In [39]:
labels6 = sample2['host_response_time'].astype('category').cat.categories.tolist()
replace_map_comp6 = {'host_response_time' : {k: v for k,v in zip(labels6,list(range(1,len(labels)+1)))}}
print(replace_map_comp)

{'cancellation_policy': {'flexible': 1, 'flexible_new': 2, 'luxury_moderate': 3, 'luxury_no_refund': 4, 'luxury_super_strict_125': 5, 'luxury_super_strict_95': 6, 'moderate': 7, 'moderate_new': 8, 'strict': 9, 'strict_14_with_grace_period': 10, 'strict_new': 11, 'super_strict_30': 12, 'super_strict_30_new': 13, 'super_strict_60': 14, 'super_strict_60_new': 15}}

In [40]:
sample2_replace.replace(replace_map_comp6, inplace=True)
sample2_replace.head()

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost,pct_change,log_ret
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,...,2009-03-30,2019-04-17,t,f,2.07,7.0,100%,t,NaN,NaN
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,...,2010-03-02,2019-04-24,f,f,2.39,6.0,100%,f,0.355932,0.304489
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116.0,1.0,1.0,1.0,2.0,...,2018-01-21,2019-02-16,f,f,0.13,7.0,100%,f,0.562500,0.446287
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,...,2012-01-09,2019-05-04,t,f,2.12,7.0,100%,t,0.200000,0.182322
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,...,2010-05-16,2019-04-22,f,t,4.15,6.0,100%,f,-0.566667,-0.836248

In [41]:
sample2_replace['host_response_time'] = pd.to_numeric(sample2_replace['host_response_time'], errors='coerce')

In [42]:
sample2_replace['host_response_rate'] = sample2_replace['host_response_rate'].astype(str).str.replace('%', '')
sample2_replace['host_response_rate'] = pd.to_numeric(sample2_replace['host_response_rate'], errors='coerce')
sample2_replace.head()

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost,pct_change,log_ret
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,...,2009-03-30,2019-04-17,t,f,2.07,7.0,100.0,t,NaN,NaN
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,...,2010-03-02,2019-04-24,f,f,2.39,6.0,100.0,f,0.355932,0.304489
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116.0,1.0,1.0,1.0,2.0,...,2018-01-21,2019-02-16,f,f,0.13,7.0,100.0,f,0.562500,0.446287
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,...,2012-01-09,2019-05-04,t,f,2.12,7.0,100.0,t,0.200000,0.182322
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,...,2010-05-16,2019-04-22,f,t,4.15,6.0,100.0,f,-0.566667,-0.836248

In [43]:
sample2_replace['cleaning_fee'] = sample2_replace['cleaning_fee'].astype(str).str.replace('$', '')
sample2_replace['cleaning_fee'] = sample2_replace['cleaning_fee'].astype(str).str.replace(',', '')

In [44]:
sample2_replace['cleaning_fee'] = pd.to_numeric(sample2_replace['cleaning_fee'], errors='coerce')
sample2_replace.head()

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost,pct_change,log_ret
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,...,2009-03-30,2019-04-17,t,f,2.07,7.0,100.0,t,NaN,NaN
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,...,2010-03-02,2019-04-24,f,f,2.39,6.0,100.0,f,0.355932,0.304489
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116.0,1.0,1.0,1.0,2.0,...,2018-01-21,2019-02-16,f,f,0.13,7.0,100.0,f,0.562500,0.446287
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,...,2012-01-09,2019-05-04,t,f,2.12,7.0,100.0,t,0.200000,0.182322
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,...,2010-05-16,2019-04-22,f,t,4.15,6.0,100.0,f,-0.566667,-0.836248

In [45]:
sample2_replace['cleaning_fee'] = sample2_replace['cleaning_fee'].fillna(0)

In [46]:
sample2_replace.head()

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost,pct_change,log_ret
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,...,2009-03-30,2019-04-17,t,f,2.07,7.0,100.0,t,NaN,NaN
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,...,2010-03-02,2019-04-24,f,f,2.39,6.0,100.0,f,0.355932,0.304489
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116.0,1.0,1.0,1.0,2.0,...,2018-01-21,2019-02-16,f,f,0.13,7.0,100.0,f,0.562500,0.446287
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,...,2012-01-09,2019-05-04,t,f,2.12,7.0,100.0,t,0.200000,0.182322
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,...,2010-05-16,2019-04-22,f,t,4.15,6.0,100.0,f,-0.566667,-0.836248

In [47]:
sample2_replace['security_deposit'] = sample2_replace['security_deposit'].astype(str).str.replace('$', '')
sample2_replace['security_deposit'] = sample2_replace['security_deposit'].astype(str).str.replace(',', '')

In [48]:
sample2_replace['security_deposit'] = pd.to_numeric(sample2_replace['security_deposit'], errors='coerce')
sample2_replace['security_deposit'] = sample2_replace['security_deposit'].fillna(0)
sample2_replace.head()

,smart_location,country,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,...,first_review,last_review,instant_bookable,require_guest_profile_picture,reviews_per_month,host_response_time,host_response_rate,host_is_superhost,pct_change,log_ret
0,"Amsterdam, Netherlands",Netherlands,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,...,2009-03-30,2019-04-17,t,f,2.07,7.0,100.0,t,NaN,NaN
1,"Amsterdam, Netherlands",Netherlands,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,...,2010-03-02,2019-04-24,f,f,2.39,6.0,100.0,f,0.355932,0.304489
2,"Amsterdam, Netherlands",Netherlands,52.37311,4.88367,3.0,116.0,1.0,1.0,1.0,2.0,...,2018-01-21,2019-02-16,f,f,0.13,7.0,100.0,f,0.562500,0.446287
3,"Amsterdam, Netherlands",Netherlands,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,...,2012-01-09,2019-05-04,t,f,2.12,7.0,100.0,t,0.200000,0.182322
4,"Amsterdam, Netherlands",Netherlands,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,...,2010-05-16,2019-04-22,f,t,4.15,6.0,100.0,f,-0.566667,-0.836248

In [49]:
sample2_replace.to_csv("cleaned_data.csv", index = False, header=True)

In [50]:
sample2_replace.isna().sum()

smart_location                         2968
country                                2969
latitude                               2968
longitude                              2973
accommodates                           2968
availability_365                       2977
bathrooms                              4344
bedrooms                               3682
beds                                   5557
calculated_host_listings_count         3889
cleaning_fee                              0
cancellation_policy                    3030
maximum_nights                         3024
minimum_nights                         2978
property_type                          2968
security_deposit                          0
number_of_reviews_ltm                  5731
require_guest_phone_verification       3024
requires_license                       3024
price                                  3019
number_of_reviews                      3019
review_scores_value                  360156
review_scores_rating                 358763
guests_included                        2972
host_since                              523
room_type                              2968
bed_type                               2968
weekly_price                        1192355
monthly_price                       1221288
extra_people                           2973
first_review                         338012
last_review                          338012
instant_bookable                       3024
require_guest_profile_picture          3024
reviews_per_month                    338017
host_response_time                   326999
host_response_rate                   327050
host_is_superhost                      3491
pct_change                               53
log_ret                                3126
dtype: int64

In [51]:
len(sample2_replace)

1325841

In [52]:
sample2_replace.columns

Index(['smart_location', 'country', 'latitude', 'longitude', 'accommodates',
       'availability_365', 'bathrooms', 'bedrooms', 'beds',
       'calculated_host_listings_count', 'cleaning_fee', 'cancellation_policy',
       'maximum_nights', 'minimum_nights', 'property_type', 'security_deposit',
       'number_of_reviews_ltm', 'require_guest_phone_verification',
       'requires_license', 'price', 'number_of_reviews', 'review_scores_value',
       'review_scores_rating', 'guests_included', 'host_since', 'room_type',
       'bed_type', 'weekly_price', 'monthly_price', 'extra_people',
       'first_review', 'last_review', 'instant_bookable',
       'require_guest_profile_picture', 'reviews_per_month',
       'host_response_time', 'host_response_rate', 'host_is_superhost',
       'pct_change', 'log_ret'],
      dtype='object')

In [53]:
sample2_replace.dtypes

smart_location                       object
country                              object
latitude                            float64
longitude                           float64
accommodates                        float64
availability_365                    float64
bathrooms                           float64
bedrooms                            float64
beds                                float64
calculated_host_listings_count      float64
cleaning_fee                        float64
cancellation_policy                 float64
maximum_nights                      float64
minimum_nights                      float64
property_type                       float64
security_deposit                    float64
number_of_reviews_ltm               float64
require_guest_phone_verification     object
requires_license                     object
price                               float64
number_of_reviews                   float64
review_scores_value                 float64
review_scores_rating                float64
guests_included                     float64
host_since                           object
room_type                           float64
bed_type                            float64
weekly_price                        float64
monthly_price                       float64
extra_people                        float64
first_review                         object
last_review                          object
instant_bookable                     object
require_guest_profile_picture        object
reviews_per_month                   float64
host_response_time                  float64
host_response_rate                  float64
host_is_superhost                    object
pct_change                          float64
log_ret                             float64
dtype: object

In [54]:
sample2_replace.host_is_superhost.unique()

array(['t', 'f', nan, '2', '1', '3', '6', '4', '5', '3.0', '7', '16', '8'],
      dtype=object)

In [55]:
sample2_replace['host_is_superhost'] = sample2_replace['host_is_superhost'].fillna('f')
sample2_replace['host_is_superhost'] = pd.get_dummies(sample2_replace['host_is_superhost'])
sample2_replace['host_is_superhost'] = pd.to_numeric(sample2_replace['host_is_superhost'], errors='coerce')

In [56]:
sample2_replace.instant_bookable.unique()

array(['t', 'f', nan], dtype=object)

In [57]:
sample2_replace['instant_bookable'] = sample2_replace['instant_bookable'].fillna('f')
sample2_replace['instant_bookable'] = pd.get_dummies(sample2_replace['instant_bookable'])
sample2_replace['instant_bookable'] = pd.to_numeric(sample2_replace['instant_bookable'], errors='coerce')

In [58]:
sample2_replace.require_guest_profile_picture.unique()

array(['f', 't', nan], dtype=object)

In [59]:
sample2_replace['require_guest_profile_picture'] = sample2_replace['require_guest_profile_picture'].fillna('f')
sample2_replace['require_guest_profile_picture'] = pd.get_dummies(sample2_replace['require_guest_profile_picture'])
sample2_replace['require_guest_profile_picture'] = pd.to_numeric(sample2_replace['require_guest_profile_picture'], errors='coerce')

In [60]:
sample2_replace.requires_license.unique()

array(['f', nan, 't'], dtype=object)

In [61]:
sample2_replace['require_guest_phone_verification'] = sample2_replace['require_guest_phone_verification'].fillna('f')

In [62]:
sample2_replace['require_guest_phone_verification'] = pd.get_dummies(sample2_replace['require_guest_phone_verification'])
sample2_replace['require_guest_phone_verification'] = pd.to_numeric(sample2_replace['require_guest_phone_verification'], errors='coerce')

In [63]:
#sample2_replace['require_guest_profile_picture'] = sample2_replace['require_guest_profile_picture'].fillna('f')

In [64]:
sample2_replace['requires_license'] = sample2_replace['requires_license'].fillna('f')

In [65]:
sample2_replace['requires_license'] = pd.get_dummies(sample2_replace['requires_license'])
sample2_replace['requires_license'] = pd.to_numeric(sample2_replace['requires_license'], errors='coerce')

In [66]:
#sample2_replace['host_has_profile_pic'] = sample2_replace['host_has_profile_pic'].fillna('f')

In [67]:
#sample2_replace['require_guest_phone_verification']  = pd.to_numeric(sample2_replace['require_guest_phone_verification'], errors='coerce')
#sample2_replace['require_guest_profile_picture']  = pd.to_numeric(sample2_replace['require_guest_profile_picture'], errors='coerce')
#sample2_replace['requires_license']  = pd.to_numeric(sample2_replace['requires_license'], errors='coerce')
#sample2_replace['host_has_profile_pic']  = pd.to_numeric(sample2_replace['host_has_profile_pic'], errors='coerce')
#sample2_replace['require_guest_phone_verification']  = pd.to_numeric(sample2_replace['require_guest_phone_verification'], errors='coerce')
#sample2_replace['require_guest_phone_verification']  = pd.to_numeric(sample2_replace['require_guest_phone_verification'], errors='coerce')

In [68]:
sample2_replace.dtypes

smart_location                       object
country                              object
latitude                            float64
longitude                           float64
accommodates                        float64
availability_365                    float64
bathrooms                           float64
bedrooms                            float64
beds                                float64
calculated_host_listings_count      float64
cleaning_fee                        float64
cancellation_policy                 float64
maximum_nights                      float64
minimum_nights                      float64
property_type                       float64
security_deposit                    float64
number_of_reviews_ltm               float64
require_guest_phone_verification      uint8
requires_license                      uint8
price                               float64
number_of_reviews                   float64
review_scores_value                 float64
review_scores_rating                float64
guests_included                     float64
host_since                           object
room_type                           float64
bed_type                            float64
weekly_price                        float64
monthly_price                       float64
extra_people                        float64
first_review                         object
last_review                          object
instant_bookable                      uint8
require_guest_profile_picture         uint8
reviews_per_month                   float64
host_response_time                  float64
host_response_rate                  float64
host_is_superhost                     uint8
pct_change                          float64
log_ret                             float64
dtype: object

In [69]:
sample2_replace.isna().sum()

smart_location                         2968
country                                2969
latitude                               2968
longitude                              2973
accommodates                           2968
availability_365                       2977
bathrooms                              4344
bedrooms                               3682
beds                                   5557
calculated_host_listings_count         3889
cleaning_fee                              0
cancellation_policy                    3030
maximum_nights                         3024
minimum_nights                         2978
property_type                          2968
security_deposit                          0
number_of_reviews_ltm                  5731
require_guest_phone_verification          0
requires_license                          0
price                                  3019
number_of_reviews                      3019
review_scores_value                  360156
review_scores_rating                 358763
guests_included                        2972
host_since                              523
room_type                              2968
bed_type                               2968
weekly_price                        1192355
monthly_price                       1221288
extra_people                           2973
first_review                         338012
last_review                          338012
instant_bookable                          0
require_guest_profile_picture             0
reviews_per_month                    338017
host_response_time                   326999
host_response_rate                   327050
host_is_superhost                         0
pct_change                               53
log_ret                                3126
dtype: int64

In [70]:
len(sample2_replace)

1325841

In [71]:
sample2_replace.longitude.unique()

array([  4.94142,   4.89354,   4.88367, ..., 115.85011, 115.74102,
       115.71731])

In [72]:
sample.property_type.unique()

array(['Apartment', 'Townhouse', 'Houseboat', 'Bed and breakfast',
       'Guest suite', 'Loft', 'Serviced apartment', 'House',
       'Boutique hotel', 'Guesthouse', 'Boat', 'Condominium', 'Camper/RV',
       'Chalet', 'Nature lodge', 'Tiny house', 'Other', 'Island', 'Hotel',
       'Villa', 'Cabin', 'Bungalow', 'Hostel', 'Cottage', 'Dome house',
       'Casa particular (Cuba)', 'Earth house', 'Barn', 'Aparthotel',
       'Campsite', 'Tent', nan, 't', 'Yurt', 'Farm stay', 'Castle',
       'Treehouse', 'Cave', 'Cycladic house (Greece)', 'In-law',
       'Minsu (Taiwan)', 'Resort', 'Ryokan (Japan)', 'Bus', 'Tipi', 'Hut',
       'Train', 'Vacation home', 'Heritage hotel (India)', 'Igloo',
       'Dorm', 'Pension (South Korea)', 'Lighthouse',
       "Shepherd's hut (U.K., France)", 'Condohotel', 'Timeshare',
       'Windmill', '5', '2', '4', 'Pousada', 'Parking Space', 'Plane',
       'Casa particular', 'Bed & Breakfast', 'Trullo (Italy)',
       'Dammuso (Italy)', 'Cycladic house', 'Dammuso'], dtype=object)

In [73]:
sample_cut = sample2_replace[['latitude', 'longitude','accommodates', 'availability_365', 'bathrooms', 'bedrooms', 'beds', 'calculated_host_listings_count',
                 'cleaning_fee','cancellation_policy','maximum_nights', 'minimum_nights', 'property_type', 'security_deposit','number_of_reviews_ltm',
                  'require_guest_phone_verification','requires_license','price','number_of_reviews','review_scores_value', 'review_scores_rating', 'guests_included',
                 'extra_people', 'instant_bookable', 'require_guest_profile_picture']]

In [74]:
sample_cut.columns

Index(['latitude', 'longitude', 'accommodates', 'availability_365',
       'bathrooms', 'bedrooms', 'beds', 'calculated_host_listings_count',
       'cleaning_fee', 'cancellation_policy', 'maximum_nights',
       'minimum_nights', 'property_type', 'security_deposit',
       'number_of_reviews_ltm', 'require_guest_phone_verification',
       'requires_license', 'price', 'number_of_reviews', 'review_scores_value',
       'review_scores_rating', 'guests_included', 'extra_people',
       'instant_bookable', 'require_guest_profile_picture'],
      dtype='object')

In [75]:
drop_na = sample_cut.dropna()
len(drop_na)

962483

In [76]:
drop_na2 = drop_na.loc[drop_na['number_of_reviews_ltm'] > 7, :]
len(drop_na2)

401222

In [77]:
sample2_replace.to_csv("cleaned_data_nona_8reviews_names.csv", index = False, header=True)

In [78]:
drop_na2.price.unique()

array([   59.,    80.,   150., ...,  1032.,   467., 11499.])

In [79]:
#make bins
bins = [0, 80, 100, 150, 200, 250, 500, 1000, 11499]
group_labels = ['<80', '81-100', '101-150', '151-200', '201-250', '251-500', '501-1000', '1,000-10000+']

In [80]:
#create sliced with pd.cut
sliced = pd.cut(drop_na['price'], bins, labels = group_labels)

In [81]:
drop_na2['Price_Group'] = sliced
drop_na2.head(5)

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,cleaning_fee,cancellation_policy,...,requires_license,price,number_of_reviews,review_scores_value,review_scores_rating,guests_included,extra_people,instant_bookable,require_guest_profile_picture,Price_Group
0,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,60.0,10.0,...,1,59.0,255.0,10.0,97.0,1.0,20.0,0,1,<80
1,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,0.0,10.0,...,1,80.0,267.0,9.0,88.0,2.0,0.0,1,1,<80
3,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,0.0,10.0,...,1,150.0,189.0,10.0,99.0,1.0,0.0,0,1,101-150
4,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,15.0,7.0,...,1,65.0,453.0,9.0,93.0,2.0,0.0,1,0,<80
6,52.36773,4.89151,1.0,166.0,1.0,1.0,1.0,3.0,0.0,7.0,...,1,55.0,412.0,10.0,95.0,1.0,0.0,1,1,<80

In [82]:
labels7 = drop_na2['Price_Group'].astype('category').cat.categories.tolist()
replace_map_comp7 = {'Price_Group' : {k: v for k,v in zip(labels7,list(range(1,len(labels)+1)))}}
print(replace_map_comp7)

{'Price_Group': {'<80': 1, '81-100': 2, '101-150': 3, '151-200': 4, '201-250': 5, '251-500': 6, '501-1000': 7, '1,000-10000+': 8}}

In [83]:
drop_na2.replace(replace_map_comp7, inplace=True)
drop_na2.head()

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:5821: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  regex=regex)

,latitude,longitude,accommodates,availability_365,bathrooms,bedrooms,beds,calculated_host_listings_count,cleaning_fee,cancellation_policy,...,requires_license,price,number_of_reviews,review_scores_value,review_scores_rating,guests_included,extra_people,instant_bookable,require_guest_profile_picture,Price_Group
0,52.36575,4.94142,2.0,12.0,1.5,1.0,2.0,1.0,60.0,10.0,...,1,59.0,255.0,10.0,97.0,1.0,20.0,0,1,1.0
1,52.36509,4.89354,2.0,166.0,1.0,1.0,1.0,2.0,0.0,10.0,...,1,80.0,267.0,9.0,88.0,2.0,0.0,1,1,1.0
3,52.38673,4.89208,2.0,102.0,1.0,1.0,1.0,1.0,0.0,10.0,...,1,150.0,189.0,10.0,99.0,1.0,0.0,0,1,3.0
4,52.37534,4.85729,2.0,236.0,1.0,1.0,2.0,1.0,15.0,7.0,...,1,65.0,453.0,9.0,93.0,2.0,0.0,1,0,1.0
6,52.36773,4.89151,1.0,166.0,1.0,1.0,1.0,3.0,0.0,7.0,...,1,55.0,412.0,10.0,95.0,1.0,0.0,1,1,1.0

In [84]:
drop_na2.dtypes

latitude                            float64
longitude                           float64
accommodates                        float64
availability_365                    float64
bathrooms                           float64
bedrooms                            float64
beds                                float64
calculated_host_listings_count      float64
cleaning_fee                        float64
cancellation_policy                 float64
maximum_nights                      float64
minimum_nights                      float64
property_type                       float64
security_deposit                    float64
number_of_reviews_ltm               float64
require_guest_phone_verification      uint8
requires_license                      uint8
price                               float64
number_of_reviews                   float64
review_scores_value                 float64
review_scores_rating                float64
guests_included                     float64
extra_people                        float64
instant_bookable                      uint8
require_guest_profile_picture         uint8
Price_Group                         float64
dtype: object

In [85]:
drop_na2.to_csv("cleaned_data_nona_7reviews.csv", index = False, header=True)

In [86]:
drop_na2['instant_bookable'] = drop_na2['instant_bookable'].astype(np.float64)
drop_na2['require_guest_phone_verification'] = drop_na2['require_guest_phone_verification'].astype(np.float64)
drop_na2['requires_license'] = drop_na2['requires_license'].astype(np.float64)
drop_na2['require_guest_profile_picture'] = drop_na2['require_guest_profile_picture'].astype(np.float64)

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\chris\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [87]:
drop_na2.dtypes

latitude                            float64
longitude                           float64
accommodates                        float64
availability_365                    float64
bathrooms                           float64
bedrooms                            float64
beds                                float64
calculated_host_listings_count      float64
cleaning_fee                        float64
cancellation_policy                 float64
maximum_nights                      float64
minimum_nights                      float64
property_type                       float64
security_deposit                    float64
number_of_reviews_ltm               float64
require_guest_phone_verification    float64
requires_license                    float64
price                               float64
number_of_reviews                   float64
review_scores_value                 float64
review_scores_rating                float64
guests_included                     float64
extra_people                        float64
instant_bookable                    float64
require_guest_profile_picture       float64
Price_Group                         float64
dtype: object